.below-nav-content-admin-dashboard {
    min-height: 50vh;
}

.main-component-below-padding {
    padding-bottom: 3rem;
}

.admin-all-main-component {
    width: 70%;
    margin: auto;
}

.main-component-admin-dashboard {
    padding: 1rem;
}

.admin-all-heading-and-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.admin-document-heading {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.admin-back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    color: #01bce9;
    border: 2px solid #01bce9;
    border-radius: 0.4rem;
    padding: 0.5rem 0.8rem;
    background: transparent;
    cursor: pointer;

}

.admin-back-button a {
    display: flex;
    text-decoration: none;
    color: #01bce9;
}

.admin-back-button a:active {
    color: #ffffff;
    background-color: #01bce9;
}

.admin-back-button svg {
    color: #01bce9;
}

.view-note-show-element{
    display: flex;
    gap: 0.8rem;
    align-items: start;
    background-color: #ffffff;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px grey;
    min-height: 5rem;
}

.view-note-show-element-textarea{
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px grey;
}

.view-note-show-element img{
    width: 22px;
    height: 22px;
    /* padding-top: 1rem; */
    margin-top: 0.5rem;
}

.view-note-icon{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.view-note-content-one{
    font-size: 0.9rem;
    font-weight: 500;
}

.view-note-content-second{
    font-size: 0.8rem;
    font-weight: 500;
    color: #8a8f91;
}


.view-note-submit-button{
    display: flex;
    align-items: center;
    justify-content: end;
}

.view-note-save-button{
    background-color: #01bce9;
    border: 1px solid #01bce9;
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 400;
}

@media (max-width:1100px) {
    .admin-all-main-component {
        width: 80%;
    }
}

@media (max-width:960px) {
    .admin-all-main-component {
        width: 85%;
    }
}


@media (max-width:767px) {

    .below-nav-content-admin {
        margin: 1rem;
    }

    .main-component-admin-dashboard {
        padding: 0.5rem;
    }

    .admin-all-main-component {
        width: 100%;
    }

}

@media (max-width:500px) {

    .below-nav-content-admin {
        margin: 0.8rem;
    }


    .main-component-admin-dashboard {
        padding: 0rem;
    }



    .admin-all-main-component .plateform-input-margin {
        margin-bottom: 0.5rem;
    }

    .view-note-save-button{
        border-radius: 0.3rem;
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
    }

}